.assortment-partners {
  padding-bottom: 0;

  .partner {
    flex: 0 0 20%;

    @include tablet {
      flex: 0 0 50%;
    }

    @include small-phone {
      flex: 0 0 100%;
    }
  }

  .partners-row {
    padding: 0;
    border-bottom: 1px solid $color-orange;
  }
}
