.assortment-form {
  padding-top: 90px;

  .row {
    justify-content: center;
  }

  .section-info {
    font-family: $font-mont-bold;
    font-size: 1.6rem;
    line-height: 3.6rem;
    text-align: center;
    padding-bottom: 40px;
  }
}
