.benefits {
  margin-top: -80px;
  padding-bottom: 60px;
  width: 100%;
  position: absolute;


  .benefit {
    flex: 0 0 25%;
    padding: 0 16px;
    transform-origin: center;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      animation: benefit 0.3s ease infinite;
    }
  }

  .benefit-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: $box-shadow;
    background-color: $color-white;
    padding: 10px 20px;
    min-height: 250px;
  }

  .benefit-number {
    text-align: center;
    font-family: $font-mont-bold;
  }

  .benefit-title {
    font-family: $font-bold;
    font-size: 1.8rem;
    padding: 20px 0;
  }

  .benefit-desc {
    font-family: $font-light;
    font-size: 1.6rem;
  }

  .benefit-number {
    font-family: $font-mont-bold;
    font-size: 7.2rem;
  }
}
