footer {
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @include middle-tablet {
    padding: 25px 0;
  }

  &:after {
    z-index: 2;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.73);
  }

  .footer-row {
    justify-content: space-between;
    flex-wrap: nowrap;

    @include menu-tablet {
      flex-wrap: wrap;

    }

    @include little-phone {
      flex-direction: column-reverse;
    }
  }

  .footer-logo {
    z-index: 5;
    padding-bottom: 30px;
    flex: 0 0 33.3%;

    @include middle-tablet {
      flex: 0 0 auto;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include little-phone {
      padding-bottom: 0;
    }
  }

  .col {
    width: auto;
    z-index: 5;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include little-phone {
      align-items: flex-start;
      padding: 10px 0;
    }

    &:first-of-type {
      align-items: flex-start;

      @include middle-tablet {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 20px;
      }

      @include little-phone {
        align-items: flex-start;
        flex-direction: column;
      }

    }

    &:last-of-type {
      align-items: flex-end;

      @include little-phone {
        align-items: flex-start;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: brightness(0) invert(1);
    width: 100%;

    @include middle-tablet {
      width: auto;
      justify-content: center;
    }

    a {
      width: 60%;

      img {
        width: 100%;
      }
    }
  }

  .contact {
    font-family: $font-mont-semibold;
    font-size: 1.6rem;
    color: $color-white;
    padding: 10px 0;
  }

  .address-contact {
    padding-bottom: 50px;

    @include middle-tablet {
      padding-bottom: 10px;
    }

  }

  .phone {
    transition: all 0.3s linear;

    &:hover {
      color: $color-orange;
    }
  }

  .footer-social {
    font-family: $font-mont-semibold;
    font-size: 1.6rem;
    color: $color-white;
    display: flex;
    align-items: center;
    padding-top: 50px;

    @include middle-tablet {
      padding-top: 10px;
    }

    .icon {
      transition: 0.3s all linear;
      font-size: 3.1rem;
    }
  }

  .social {
    margin-left: 5px;
    display: flex;
    align-items: center;
  }

  .social-link {
    margin: 0 5px;

    &:hover {
      .icon {
        fill: $color-orange;
      }
    }
  }

  .footer-link {
    padding: 10px 0;
    font-family: $font-mont-light;
    font-size: 1.6rem;
    color: $color-white;
    transition: all 0.3s linear;

    @include middle-tablet {
      padding: 10px;
    }

    @include little-phone {
      padding: 10px 0;
    }

    &:hover {
      color: $color-orange;
    }
  }

  .catalog-link {
    font-family: $font-mont-semibold;
  }
}
