.partners {
  .section-title {
    text-align: center;
  }

  .partners-row {
    padding: 50px 0;
    justify-content: center;
    align-items: center;

    @include phone {
      padding: 15px 0;
    }
  }

  .no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .partner {
    padding: 50px 0;
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include middle-tablet {
      flex: 0 0 33.3%;
      padding: 25px 0;
    }

    @include phone {
      flex: 0 0 50%;
      padding: 15px 0;
    }

    @include little-phone {
      flex: 0 0 100%;
    }
  }

  .btn-row {
    display: flex;
    justify-content: center;
  }
}
