.tms {
  .tms-row {
    overflow: hidden;
    border-radius: 5px;

    @include desktop-block {
      flex-wrap: nowrap;
    }

    @include tablet {
      flex-direction: column;
    }
  }



  .section-title {
    padding-bottom: 50px;
    text-align: center;
  }

  .content-block {
    z-index: 5;
    padding-bottom: 0;
  }

  .tm-content {
    transition: all 0.3 linear;
    display: flex;
    flex-direction: column;
    color: $color-white;
  }

  .col-tm {
    position: relative;
    flex: 0 0 33.3%;
    padding: 60px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include desktop-block {
      padding: 0;
      min-height: 250px;
      height: auto;
    }

    @include little-phone {
      min-height: 180px;
    }


    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.56;
      background-color: $color-black;
      transition: 0.3s all ease;
    }
  }
}
