* {
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-size: 10px;
  font-family: $font-family;
  color: $color-black;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section {
  padding-bottom: 120px;
}

.title {
  font-family: $font-mont-bold;
  font-size: 7.2rem;
  line-height: 9rem;
}

.section-title {
  font-family: $font-mont-semibold;
  font-size: 2.6rem;
  line-height: 5rem;
}

.section-info {
  font-family: $font-family;
  font-size: 1.8rem;
  line-height: 3.6rem;
}

.section-link {
  // font-family: $font-medium;
  font-size: 1.8rem;
  line-height: 3.6rem;
  text-decoration: underline;
  transition: all 0.3s linear;

  &:hover {
    color: $color-orange;
  }
}

.yellow {
  color: $color-yellow;
}

.page {
  opacity: 0;
  transition: 0.3s all ease;
}

.small-row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
