.btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1.5px solid transparent;
  transition: 0.3s all linear;

  &-content {
    padding: 19px 17px;
    transform-origin: left top;
    transition: 0.3s all linear;
    font-family: $font-mont-bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
    position: relative;
    transform-origin: left top;
    transition: 0.3s all linear;

    &:after {
      position: absolute;
      content: url('assets/svg/arrow.svg');
      right: 17px;
    }
  }

  &-primary {
    .btn-content {
      background-color: $color-white;
    }

    &:hover {
      border: 1.5px solid $color-orange;

      .btn-content {
        transform: translateX(7px) translateY(7px);
      }
    }
  }

  &-secondary {
    .btn-content {
      color: $color-white;
      background-color: $color-yellow;
    }

    &:hover {
      border: 1.5px solid $color-yellow;

      .btn-content {
        transform: translateX(7px) translateY(7px);
      }
    }
  }
}
