.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-calendar {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-eye {
	font-size:(511.63/10)*1rem;
	width:(511.63/511.63)*1em;
}
.icon-facebook {
	font-size:(96.12/10)*1rem;
	width:(96.12/96.12)*1em;
}
.icon-left-arrow {
	font-size:(31.490000000000002/10)*1rem;
	width:(31.490000000000002/31.490000000000002)*1em;
}
.icon-logo {
	font-size:(193.92/10)*1rem;
	width:(307.2/193.92)*1em;
}
.icon-mail {
	font-size:(511.63/10)*1rem;
	width:(511.63/511.63)*1em;
}
.icon-profile {
	font-size:(563.43/10)*1rem;
	width:(563.43/563.43)*1em;
}
.icon-right-arrow {
	font-size:(31.490000000000002/10)*1rem;
	width:(31.490000000000002/31.490000000000002)*1em;
}
.icon-twitter {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-vk {
	font-size:(304.36/10)*1rem;
	width:(304.36/304.36)*1em;
}
