.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-arrow {
	font-size:(14.809999999999999/10)*1rem;
	width:(10.030000000000001/14.809999999999999)*1em;
}
.icon-facebook {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-instagram {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-linkedin {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-meeting {
	font-size:(36.38/10)*1rem;
	width:(38.77/36.38)*1em;
}
.icon-team {
	font-size:(38.14/10)*1rem;
	width:(38.2/38.14)*1em;
}
