$color-white: #FFFDFC;
$color-black: #1B2326;
$color-orange: #E77100;
$color-yellow: #F4A20E;
$color-green: #3DA951;
$color-gray: #909090;

$box-shadow:0 3px 6px rgba($color-gray, 0.5);
$active-border: 5px solid $color-orange;
$svgColor:$color-white;

$font-family:'Raleway-Regular',
sans-serif;
$font-light:'Raleway-Light',
sans-serif;
$font-bold:'Raleway-Bold',
sans-serif;
$font-mont-bold:'Montserrat-Bold',
sans-serif;
$font-mont-light:'Montserrat-Light',
sans-serif;
$font-mont-medium:'Montserrat-Medium',
sans-serif;
$font-mont-semibold:'Montserrat-SemiBold',
sans-serif;
