$color-white: #ffffff;
$color-white-2: #f4f3f3;
$color-gray: #b8b9b9;
$color-gray-2: #777776;
$color-black: #323232;
$color-green: #63c266;
$color-blue: #6782c1;
$color-blue-2: #4267b2;
$color-blue-3: #6086ad;
$color-blue-4: #41abe1;

$svgColor:$color-white;

$font-family:'OpenSans-Light',
sans-serif;
$font-regular:'OpenSans-Regular',
sans-serif;
$font-semibold:'OpenSans-SemiBold',
sans-serif;
$font-bold:'OpenSans-Bold',
sans-serif;
